.container {
  display: grid;
  /* 3 x 2 */
  grid-template: repeat(3, 100px) / repeat(2, 100px);
  
  justify-items: stretch; /* default */
  align-items: stretch; /* default */

  border: 3px solid lightblue;
}

.box {
  /* width: 5rem; */
  /* height: 5rem; */
  background-color: pink;
}